.mouse-move-down {
    margin: 0 auto;
    display: block;
    border-radius: 50px;
    border: 1px solid #aaa;
    height: 100px;
    width: 50px;
    position: relative;
    /*cursor: pointer;*/
}

.move-down {
    position: absolute;
    background-color: #fff;
    height: 10px;
    width: 5px;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    animation: moveDown 1s linear infinite;
}

.speaker-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9999;
    height: 40px;
    width: 40px;
    background: #01b1e5;
    padding: 10px;
    /*cursor: pointer;*/
}

.speaker-button .volume-mute-icon{
  display: none;
}
.speaker-button.mute .volume-mute-icon{
  display: block;
}
.speaker-button.mute .volume-up-icon{
  display: none;
}

.cursor {
  pointer-events: none;
}
.cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}
.cursor__ball circle {
  fill: #01b1e5;
}
 



@keyframes moveDown {
    0% {
        transform: translate(-50%, 10px); 
    }

    50% {
        transform: translate(-50%, 40px);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, 80px); 
    }
}