/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    background-color: #fff !important;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    height: 100vh;
}

html {
    font-size: 100%;
    height: 100%;
    line-height: 1.4;
    overflow: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    overflow-style: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    opacity: 0;
    visibility: hidden;
    background: #000;
    width: 1px;
}

.wrapper {
    height: 100%;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column
}

.table-responsive {
    overflow-x: hidden;
}

a:hover {
    text-decoration: none;
}

*,
*:focus {
    outline: 0 !important;

}

*{
    cursor: none !important;
}

h1, h2, h3, h4, h5 {
    font-family: "Montserrat", sans-serif;
    line-height: 1.28571429em;
    margin: calc(2rem - .14285714em) 0 1rem;
    font-weight: 700;
    padding: 0;
}

/*Top Section*/
.first-intro {
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.first-intro-video-box {
    z-index: -2;
    position: relative;
    transition: all 2s;
}

.first-intro-video-box video {
    width: 100%;
    height: 100vh;
}
.second-intro {
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.second-intro-video-box {
    z-index: -2;
    position: relative;
}

.second-intro-video-box video {
    width: 100%;
    height: 100vh;
}

.initail-top-section {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.panel {
    height: 100%;
    width: 100%;
    position: absolute;
}

.top-sec-bg-overly {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000c7;
    z-index: -1;
    transition: all .3s;
}



.initail-top-section-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #000000c7;
    transition: all .5s;
}

.initail-top-section-content.animated {
    top: -100%;
}

.initail-top-section-content h1 {
    font-size: 75px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    transition: all .3s;
}

.first-intro.opened .initail-top-section-content h1 {
    opacity: 0;
}
.second-intro.opened .initail-top-section-content h1 {
    opacity: 0;
}

.initail-top-section-content h3 {
    font-size: 36px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    margin-bottom: 25px;
    transition: all .3s;
}

.first-intro.opened .initail-top-section-content h3 {
    opacity: 0;
}

.first-intro.opened .initail-top-section-content .mouse-move-down {
    opacity: 0;
}

.second-intro.opened .initail-top-section-content h3 {
    opacity: 0;
}

.second-intro.opened .initail-top-section-content .mouse-move-down {
    opacity: 0;
}

.speaker-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9999;
    height: 40px;
    width: 40px;
    background: #01b1e5;
    padding: 10px;
}

.tint {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background-size: cover;
}

/* Progress Bar */
.progress-bar-sec {
    position: fixed;
    bottom: 20px;
    width: 100%;
    height: 15px;
    max-width: 1000px;
    z-index: 999;
    display: flex;
    align-items: center;

}

.progress-bar-line {
    position: absolute;
    top: 6px;
    left: 0;
    width: 100%;
    height: 4px;
    background: #01b1e538;
    z-index: -1;
    overflow: hidden;
}

.progress-bar-line span {
    height: 100%;
    width: 0;
    position: absolute;
    background: #01b1e5;
    transition: all 0.3s;
}

.progress-bar-sec ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.progress-bar-sec ul>li {
    text-align: center;
    position: relative;
    color: tomato;
}

.progress-bar-sec ul>li>a {
    content: "";
    display: block;
    margin: 0 auto;
    background-color: #fff;
    width: 10px;
    height: 10px;
    line-height: 32px;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
    transition: all .3s;
}

.progress-bar-sec ul>li:last-child a {
    display: none;
}

.progress-bar-sec ul>li>a:hover {
    transform: scale(1.5);
}

.progress-bar-sec ul>li>a.active {
    background: #01b1e5;
}

.roadmap-sec {
    z-index: -3;
}

.roadmap-sec.open {
    z-index: 1;
}

.roadmap-sec::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 1s;
}

.roadmap-sec.open::after {
    opacity: 0;
}
 
.roadmap-sec-video-box video {
    width: 100%;
    height: 100vh;
}

.roadmap-sec-video-box video {
    background-color: #000;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#bgVideoFwd {
    opacity: 1;
    visibility: visible;
}

#bgVideoBwd {
    opacity: 0;
    visibility: hidden;
}

.roadmap-scroll-container {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}


.sub-video-1-button {
    width: 100%;
    height: 250px;
    position: absolute;
    top: 25%;
    cursor: pointer!important;
    display: none;
}

.sub-video-1-button.active {
    display: block;
}

.sub-video-container .sub-video-box {
    position: fixed;
    top: 0;
    left: 200%;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: #fff;
    opacity: 0;
    transition: all 3s;
}

.sub-video-close {
    position: absolute;
    top: 15px;
    right: 15px;
    border: 0;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 10px;
    /*cursor: pointer;*/
    background: #f44336;
}

.sub-video-close img {
    width: 20px;
    height: 20px;
}

.sub-video-box.active {
    opacity: 1;
    left: 0;
}

.active-removed {
    opacity: 0;
    left: -200%;
    transition: all 0.5s;
}
.move-right {
    opacity: 0;
    right: -100%;
    transition: all 2s;
}

.sub-video-box.active.active-removed {
    opacity: 0;
    left: -200%;
}

.sub-video-2-button {
    width: 315px;
    height: 420px;
    position: absolute;
    top: 35%;
    cursor: pointer!important;
    background: transparent;
    left: 48%;
    display: none;
}

.sub-video-2-button.active {
    display: block;
}

.text-container {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.text-container {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.text-box.trap-box-1 { 
    position: absolute;
    top: 10%;
    left: 0; 
    transition: all .5s;
    width: 55%;
    height: 165px;
    overflow: hidden;
}
.text-box.trap-box-1 .box-cont {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(200%);
    transition: all 0.5s;
} 
.text-box.trap-box-1 .box-cont{
    width: 607px;
}
.text-box.trap-box-2 .box-cont{
    width: 100%;
}
.text-box.trap-box-3 .box-cont{
    width: 100%;
}
.text-box.trap-box-4 .box-cont{
    width: 100%;
}
.text-box.trap-box-5 .box-cont{
    width: 100%;
}
.text-box.trap-box-6 .box-cont{
    width: 100%;
}
.text-box.trap-box-7 .box-cont{
    width: 100%;
}
.text-box.trap-box-8 .box-cont{
    width: 100%;
}
.text-box.trap-box-9 .box-cont{
    width: 100%;
}
.text-box.trap-box-10 .box-cont{
    width: 100%;
}
.text-box.trap-box-11 .box-cont{
    width: 100%;
}
.text-box.trap-box-12 .box-cont{
    width: 100%;
}
.text-box.trap-box-13 .box-cont{
    width: 100%;
}
.text-box.trap-box-14 .box-cont{
    width: 100%;
}
.text-box.trap-box-15 .box-cont{
    width: 100%;
}
.text-box.trap-box-16 .box-cont {
    width: 100%;
}
.text-box.trap-box-1 h3,
.text-box.trap-box-2 h3,
.text-box.trap-box-3 h3,
.text-box.trap-box-4 h3,
.text-box.trap-box-5 h3,
.text-box.trap-box-6 h3,
.text-box.trap-box-7 h3,
.text-box.trap-box-8 h3,
.text-box.trap-box-9 h3,
.text-box.trap-box-10 h3,
.text-box.trap-box-11 h3,
.text-box.trap-box-12 h3,
.text-box.trap-box-13 h3,
.text-box.trap-box-14 h3,
.text-box.trap-box-15 h3,
.text-box.trap-box-16 h3 {
    font-size: 26px;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px;
    text-align: center;
    margin-bottom: 15px;
    display: block;
    width: 125px;
    font-weight: 600;
    text-transform: uppercase;
}
.text-box.trap-box-1 h2,
.text-box.trap-box-2 h2,
.text-box.trap-box-3 h2,
.text-box.trap-box-4 h2,
.text-box.trap-box-5 h2,
.text-box.trap-box-6 h2,
.text-box.trap-box-7 h2,
.text-box.trap-box-8 h2,
.text-box.trap-box-9 h2,
.text-box.trap-box-10 h2,
.text-box.trap-box-11 h2,
.text-box.trap-box-12 h2,
.text-box.trap-box-13 h2,
.text-box.trap-box-14 h2,
.text-box.trap-box-15 h2,
.text-box.trap-box-16 h2 {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}

.text-box.trap-box-1-1,
.text-box.trap-box-2 ,
.text-box.trap-box-3,
.text-box.trap-box-4,
.text-box.trap-box-5,
.text-box.trap-box-6,
.text-box.trap-box-7,
.text-box.trap-box-8,
.text-box.trap-box-9,
.text-box.trap-box-10,
.text-box.trap-box-11,
.text-box.trap-box-12,
.text-box.trap-box-13,
.text-box.trap-box-14,
.text-box.trap-box-15,
.text-box.trap-box-16 {
    position: absolute;
    top: 20%;
    transition: all .5s;
    width: 215px;
    overflow: hidden; 
    opacity: 0;
}
/* .text-box.trap-box-1 {
    width: 608px;
} */
.text-box.trap-box-1-1 {
    width: 290px;
    left: 40%;
}
.text-box.trap-box-3 {
    left: 70%;
    width: 380px;
}
.text-box.trap-box-4 {
    left: 85%;
    width: 240px;
}
.text-box.trap-box-5 {
    left: 130%;
    top: 10%;
    width: 365px;
}
.text-box.trap-box-6 {
    left: 220%;
    width: 615px;
}
.text-box.trap-box-7 {
    width: 420px;
    left: 235%;
}
.text-box.trap-box-8 {
    left: 275%;
    width: 400px;
}
.text-box.trap-box-9 {
    left: -15%;
    top: 15%;
    width: 340px;
}
.text-box.trap-box-10 {
    left: -50%;
    top: 15%;
    width: 640px;
}
.text-box.trap-box-11 {
    left: 10%;
    top: 15%;
    width: 445px;
}
.text-box.trap-box-12 {
    left: -60%;
    width: 750px;
    top: 20%;
}
.text-box.trap-box-13 {
    left: 5%0;
    top: 55%;
    width: 500px;
}
.text-box.trap-box-14 {
    left: 65%;
    top: 25%;
    width: 425px;
}
.text-box.trap-box-15 {
    left: 110%;
    top: 40%;
    width: 450px;
}
.text-box.trap-box-16 {
    left: 135%;
    top: 55%;
    width: 460px;
}

.text-box.trap-box-1-1.show,
.text-box.trap-box-2.show,
.text-box.trap-box-3.show,
.text-box.trap-box-4.show,
.text-box.trap-box-5.show,
.text-box.trap-box-6.show,
.text-box.trap-box-7.show,
.text-box.trap-box-8.show,
.text-box.trap-box-9.show,
.text-box.trap-box-10.show,
.text-box.trap-box-11.show,
.text-box.trap-box-12.show,
.text-box.trap-box-13.show,
.text-box.trap-box-14.show,
.text-box.trap-box-15.show,
.text-box.trap-box-16.show {
    opacity: 1;
    overflow: unset;
} 

.text-box.trap-box-1-1 h6,
.text-box.trap-box-2 h6,
.text-box.trap-box-3 h6,
.text-box.trap-box-4 h6,
.text-box.trap-box-5 h6,
.text-box.trap-box-6 h6,
.text-box.trap-box-7 h6,
.text-box.trap-box-8 h6,
.text-box.trap-box-9 h6,
.text-box.trap-box-10 h6,
.text-box.trap-box-11 h6,
.text-box.trap-box-12 h6,
.text-box.trap-box-13 h6,
.text-box.trap-box-14 h6,
.text-box.trap-box-15 h6,
.text-box.trap-box-16 h6 {
    color: #fff;
    font-size: 30px;
}

.text-box.trap-box-1-1 .box-cont,
.text-box.trap-box-2 .box-cont,
.text-box.trap-box-3 .box-cont,
.text-box.trap-box-4 .box-cont,
.text-box.trap-box-5 .box-cont,
.text-box.trap-box-6 .box-cont,
.text-box.trap-box-7 .box-cont 
.text-box.trap-box-8 .box-cont,
.text-box.trap-box-9 .box-cont,
.text-box.trap-box-10 .box-cont,
.text-box.trap-box-11 .box-cont,
.text-box.trap-box-12 .box-cont,
.text-box.trap-box-13 .box-cont,
.text-box.trap-box-14 .box-cont,
.text-box.trap-box-15 .box-cont,
.text-box.trap-box-16 .box-cont {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
}

.text-box.trap-box-1-1 .box-cont,
.text-box.trap-box-2 .box-cont,
.text-box.trap-box-3 .box-cont,
.text-box.trap-box-4 .box-cont,
.text-box.trap-box-5 .box-cont,
.text-box.trap-box-6 .box-cont,
.text-box.trap-box-7 .box-cont,
.text-box.trap-box-8 .box-cont,
.text-box.trap-box-9 .box-cont,
.text-box.trap-box-10 .box-cont,
.text-box.trap-box-11 .box-cont,
.text-box.trap-box-12 .box-cont,
.text-box.trap-box-13 .box-cont,
.text-box.trap-box-14 .box-cont,
.text-box.trap-box-15 .box-cont,
.text-box.trap-box-16 .box-cont{
    transform: translateX(200%);
}

.initail-top-section-content > h1 {
    margin-top: 18%!important;
}

.chat-bot-txt > h3 {
    margin: 0;
}

.initail-top-section-content .bottom-text {
    margin-top: 28%;
}

.showAri {
    display: block;
}

.hideAri {
    display: none;
}

.hideVisibilityAri {    
    visibility: hidden;
}

.typing-animate {
    white-space: nowrap;
    overflow: hidden;
}

.typing-animate-start {
    animation: animated-text 1s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

@keyframes animated-text{
    from{width: 0;}
    to{width: 100%;}
}

@keyframes animated-cursor{
    from{border-right-color: transparent;}
    to{border-right-color: transparent;}
}

/* 
.visible {
    visibility: visible!important;
}

.transition {
    animation-iteration-count: 1;
    animation-duration: .3s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.ui.dimmer {
    display: none;
    position: absolute;
    top: 0!important;
    left: 0!important;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 1em;
    background-color: rgba(0,0,0,.85);
    opacity: 0;
    line-height: 1;
    animation-fill-mode: both;
    animation-duration: .5s;
    transition: background-color .5s linear;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    user-select: none;
    will-change: opacity;
    z-index: 1000;
}

.visible.transition {
    display: block!important;
    visibility: visible!important;
}

.dimmed.dimmable>.ui.animating.dimmer, .dimmed.dimmable>.ui.visible.dimmer, .ui.active.dimmer {
    display: flex;
    opacity: 1;
}

.ui.inverted.dimmer {
    background-color: rgba(255,255,255,.85);
}

.ui.loader {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    text-align: center;
    z-index: 1000;
    transform: translateX(-50%) translateY(-50%);
}

.ui.dimmer .loader {
    display: block;
}

.ui.text.loader {
    width: auto!important;
    height: auto!important;
    text-align: center;
    font-style: normal;
}

.ui.text.loader {
    min-width: 2.28571429rem;
    padding-top: 3.07142857rem;
}

.ui.dimmer .ui.loader {
    color: rgba(255,255,255,.9);
}

.ui.inverted.dimmer>.content>* {
    color: #fff;
}

.ui.inverted.dimmer .ui.loader {
    color: rgba(0,0,0,.87);
}

.ui.inverted.dimmer .ui.loader, .ui.loader {
    width: 2.28571429rem;
    height: 2.28571429rem;
    font-size: 1em;
}

.ui.dimmer>.content {
    -webkit-user-select: text;
    user-select: text;
    color: #fff;
}

.ui.loader:before {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 500rem;
    border: .2em solid rgba(0,0,0,.1);
}

.ui.loader:after, .ui.loader:before {
    width: 2.28571429rem;
    height: 2.28571429rem;
    margin: 0 0 0 -1.14285714rem;
}

.ui.dimmer .ui.loader:before {
    border-color: rgba(255,255,255,.15);
}

.ui.inverted.dimmer .ui.loader:before {
    border-color: rgba(0,0,0,.1);
}

.ui.loader:after {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    animation: loader .6s linear;
    animation-iteration-count: infinite;
    border-radius: 500rem;
    border-color: #767676 transparent transparent;
    border-style: solid;
    border-width: .2em;
    box-shadow: 0 0 0 1px transparent;
}

.ui.loader:after, .ui.loader:before {
    width: 2.28571429rem;
    height: 2.28571429rem;
    margin: 0 0 0 -1.14285714rem;
}

.ui.dimmer .ui.loader:after {
    border-color: #fff transparent transparent;
}

.ui.inverted.dimmer .ui.loader:after {
    border-color: #767676 transparent transparent;
} */